@import 'tailwindcss' source(none);
@source '../**/*.{js,ts,jsx,tsx}';

@import 'tw-animate-css';

@layer utilities {
  .bg-soft-white {
    background-color: #FAFAFA;
  }
  
  .bg-lime-green {
    background-color: #C7F33C;
  }
  
  .text-lime-green {
    color: #C7F33C;
  }
}